*,
*::before,
*::after {
box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

#board {
    display: flex;
    flex-wrap: wrap;    
    border: 2px solid black;
    width: 604px;
    height: 604px;
    align-content: stretch;}

.pixel {
    flex-grow: 1;
    border: 0.5px solid rgb(222, 222, 222);
}