*,
*::before,
*::after {
box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px;
    background-color: rgb(254, 138, 118);
}

#board {
    display: flex;
    flex-wrap: wrap;   
    border-bottom: 50px; 
    border: 20px solid rgb(250, 101, 75);
    width: 640px;
    height: 640px;
    align-content: stretch;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
}
    

.pixel {
    flex-grow: 1;
    border: 0.1px solid rgb(255, 255, 255);
    background-color: rgb(199, 204, 208);
}

#menu {
    padding: 2px 5px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      rgb(64, 46, 23),
      rgb(221, 221, 221),
      rgb(64, 46, 23),
      rgb(221, 221, 221)

    );
    opacity: 0.10;
  }

.settings {
    border: 0px;
    margin: auto;
    padding: 10px;
    text-align: left;
    gap: 10px;
}

.instructions {
    text-align: left;
}

.menu {
    display: flex;
    gap: 200px
}
#slider {
}


#myRange {
    width: 604px;
  }